@font-face {
  font-family: "iconfont"; /* Project id 4068052 */
  src: url('iconfont.woff2?t=1684132404686') format('woff2'),
       url('iconfont.woff?t=1684132404686') format('woff'),
       url('iconfont.ttf?t=1684132404686') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanbi:before {
  content: "\e611";
}

.icon-top-s:before {
  content: "\e627";
}

.icon-below-s:before {
  content: "\e628";
}

